.heatmap-container{
    display: flex;
    flex-direction: row;
    gap:1rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin:0 auto;

}
.heatmap-card{
    background-color: var(--card);
    border-radius: var(--border-radius);
    padding: 1.5rem;
    width: 100%;
    box-shadow: 0 4px 8px var(--shadow-color);
    transition: all 0.3s ease;
    border:1.5px solid var(--border);

}
.heatmap-title{
    font-size: var(--text-lg);
    font-weight: 600;
    color: var(--foreground);
    margin-bottom: 0.35rem;
}

.heatmap-description{
    font-size: var(--text-md);
    color: var(--muted-foreground);
    margin-bottom: 1.25rem;
}

.heatmap-legend{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1.25rem;
    margin-bottom: 0.2rem;
}
.streak-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: var(--text-md);
    color: var(--foreground);
    gap: 16px;
}
.streak-info > div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2px;
}
.more-less-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.9rem;
    color: var(--muted-foreground);
    gap: 3px;
}

.circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}
.color0-leetcode{
    background-color: #333;
}
.color1-leetcode{
    background-color: rgb(180, 70, 6);
}
.color2-leetcode{
    background-color: rgb(184, 92, 5);
}
.color3-leetcode{
    background-color: rgb(235, 139, 56);
}
.color4-leetcode{
    background-color: rgb(244, 163, 58);
}

.color0-github{
    background-color: #333;
}
.color1-github{
    background-color: #016620;
}
.color2-github{
    background-color: #109932;
}
.color3-github{
    background-color: #1cb33d;
}
.color4-github{
    background-color: #51d164;
}



.react-calendar-heatmap .color-scale-0-github { fill: #333 ; }
.react-calendar-heatmap .color-scale-1-github { fill: #016620; }
.react-calendar-heatmap .color-scale-2-github { fill: #109932; }
.react-calendar-heatmap .color-scale-3-github { fill: #1cb33d; }
.react-calendar-heatmap .color-scale-more-github { fill: #51d164; }

.react-calendar-heatmap .color-scale-0-leetcode { fill: #333; }
.react-calendar-heatmap .color-scale-1-leetcode { fill: rgb(180, 70, 6); }
.react-calendar-heatmap .color-scale-2-leetcode { fill: rgb(184, 92, 5); }
.react-calendar-heatmap .color-scale-3-leetcode { fill: rgb(235, 139, 56); }
.react-calendar-heatmap .color-scale-more-leetcode { fill: rgb(244, 163, 58); }



@media (max-width: 857px) {
    .heatmap-container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap:1rem;
        width:100%;
        margin:0 auto;
    }
    .heatmap-card{
        width: 100%;
    }
}
