/* ContestCard.css */

.contest-card {
    background-color:var(--card);
    border:1.5px solid var(--border);
    border-radius: var(--border-radius);
    padding: 1.3rem 1.5rem;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    min-width: 318px;
  }

.contest-card:hover {
  transform: translate(-2px,-3px);
  box-shadow: 0 8px 16px  var(--shadow-color);
}
  
  .contest-tags {
    display: flex;
    gap: 8px;
    margin-bottom: 10px;
  }
  
  .tagu {
    font-size: var(--text-sm);
    padding: 4px 8px;
    border-radius: var(--border-radius);
  }
  
  .leetcode-tag{
    color: rgb(255 161 22 / var(--tw-text-opacity, 1));
    border:1px solid rgb(255 161 22 / var(--tw-text-opacity, 0.8));
  }
  .codeforces-tag{
    color:rgb(17 149 245 / var(--tw-text-opacity, 1));
    border:1.5px solid rgb(17 149 245 / var(--tw-text-opacity, 0.8));
  }
  .codechef-tag{
    color:rgb(200 93 7 / var(--tw-text-opacity, 1));
    border: 1.5px solid rgb(200 93 7 / var(--tw-text-opacity, 0.8))
  }

  .upcoming-tagu {
    color: var(--foreground);
    border:1.5px solid var(--muted-foreground);

  }
  
  /* .title-tagu {
    background-color:var(--secondary);
    color: var(--foreground);
    border:1.5px solid var(--border);

  }
   */
  .contest-title {
    font-size: var(--text-base);
    font-weight: 600;
    margin-bottom: 16px;
  }
  
  .contest-info {
    display: flex;
    align-items: center;
    font-size: var(--text-md);
    margin-bottom: 14px;
  }
  
  .emoji {
    margin-right: 8px;
    color:var(--primary);
  }
  
  .countdown-box {
    /* background-color: var(--secodary); */
    padding: 8px;
    border-radius: var(--border-radius);
    text-align: center;
    font-size: var(--text-md);
    font-weight: 500;
    margin: 14px 0;
    border:1.5px solid var(--border);
  }
  
  .countdown-time {
    font-size: var(--text-md);
    display: block;
  }
  
  .contest-buttons {
    
    display: flex;
    gap: 12px;
  }
  
  .join-btn,
  .remind-btn-contest {
    flex: 1;
    font-size: var(--text-md);
    font-weight: 500;
    color:var(--secondary-foreground);
    background-color:var(--primary);
    padding: 6px 8px;
    border-radius: var(--border-radius);
    text-align: center;
    text-decoration: none;
    border: none;
  }

  
  .join-btn:hover {
    background-color: var(--secondary); 
  }
  
  .remind-btn-contest:hover {
     background-color: var(--secondary); 
  }

.join-contest-svg{
    margin-right: 4px;
    position:relative;
    top: 2px;
}
.remind-me-svg{
    margin-right: 4px;
    position:relative;
    top: 2px;
}

  