.hackathon-filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:95%;
  margin:0 auto;
  margin: 1rem 1.5rem 1.5rem 1.5rem;
  border:1.5px solid var(--border);
  border-radius: var(--border-radius);
  padding: 8px 16px;
  background: var(--card);
}

.location-filter {
  display: flex;
  background: var(--secondary);
  border-radius: var(--border-radius);
  /* padding: 4px; */
  border: 1.5px solid var(--border);
  padding: 2px 2px;
  gap: 0.6rem;
}

.filter-btn {
  background: var(--secondary);
  color: var(--muted-foreground);
  border: 1.5px solid var(--border);
  border-radius: var(--border-radius);
  padding: 8px 16px;
  cursor: pointer;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 6px;
}

.filter-btn.active {
  background: var(--card);
  color: var(--foreground);
}

.sort-filter-hackathon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  white-space: nowrap;
}

.sort-filter-hackathon label {
  color: var(--muted-foreground);
  font-weight: 500;
  margin-bottom: 0;
}

.sort-select {
  background: var(--card);
  color: var(--foreground);
  border: 1.5px solid var(--border);
  padding: 8px 12px;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-weight: 500;
}

@media (max-width: 700px) {
  .hackathon-filter-container {
    flex-direction: column;
    gap: 16px;
    align-items: stretch;
    width: 95%;
    margin:1rem auto;
    /* margin: 1rem 1.5rem 1.5rem 1.5rem; */
  }
  
  .location-filter {
    width: 100%;
    justify-content: space-between;
  }
  
  .sort-filter {
    width: 100%;
    justify-content: space-between;
  }
  
  .sort-select {
    flex-grow: 1;
  }
}