:root {
  --background: hsl(222, 69%, 8%);
  --foreground: hsl(210 40% 98%);
  --card: hsl(222.2 84% 4.9%);
  --card-foreground: hsl(210 40% 98%);
  --popover: hsl(222.2 84% 4.9%);
  --popover-foreground: hsl(210 40% 98%);
  --primary: hsl(210 100% 52%);
  --primary-foreground: hsl(222.2 47.4% 11.2%);
  --secondary: hsl(217.2 32.6% 17.5%);
  --secondary-foreground: hsl(210 40% 98%);
  --muted: hsl(217.2 32.6% 17.5%);
  --muted-foreground: hsl(215 20.2% 65.1%);
  --accent: hsl(217.2 32.6% 17.5%);
  --accent-foreground: hsl(210 40% 98%);
  --destructive: hsl(0 62.8% 30.6%);
  --destructive-foreground: hsl(210 40% 98%);
  --success: hsl(142 76% 36%);
  --success-foreground: hsl(210 40% 98%);
  --border: hsl(217.2 32.6% 17.5%);
  --input: hsl(217.2 32.6% 17.5%);
  --ring: hsl(212.7 26.8% 83.9%);
  --shadow-color : #0000004d;
  --hover: #1e293b;
  --progress :#e9990f;

  --border-radius: 0.75rem;
  --text-sm: 0.75rem;
  --text-md: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.5rem;


}


body {
  background-color: var(--background);
  color: var(--foreground);
  font-family : ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
  max-width:1300px;
  margin: 0 auto;
  width:90%;
}

* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

html{
  font-size: 100%; 
}

@media(max-width:1024px){
  html{
    font-size: 90%;
  }
  body{
    width:95%;
  }
}
@media(max-width:857px){
  html{
    font-size: 85%;
  }
  body{
    width:95%;
  }
}
@media(max-width:700px){
  html{
    font-size: 80%;
  }
  body{
    width:98%;
  }
}
