/* ContestList.css */

.contest-list-title{
  font-size:var(--text-lg);
  font-weight: 800;
  margin:1rem 0;
  padding:0 2rem;
}

  .contest-list-container{
    width: 100%;
    margin:0 auto;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 1rem;
  }  
  .contest-sidebar {
    /* width:100%; */
    margin:0 auto;
    max-width: 300px;
    flex-shrink: 0;
  }
  .contest-wrapper{
    width: 100%;
    margin:0 auto;
    min-height:70vh;
  }

  .contest-heading {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
    color: white;
  }
  
  .contest-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
    margin: 0 auto;
    /* width: 95%; */
    gap: 1.5rem;
  }

  @media(max-width:1080px){
    .contest-list-container{
      flex-direction: column;
      align-items: center;
    }
    .contest-sidebar{
      width:100%;
      max-width:100%
    }
  }
  